@model IEnumerable<Ehitusmaterjalidekauplus.Models.Tooded>

@{
    ViewBag.Title = "Toode";
}

<h2>Toode</h2>
@*<p>
        @Html.ActionLink("Registreeri", "Register")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Toode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jääk)
        </th>
        <th></th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Toode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jääk)
            </td>
            @*<td>
                @Html.ActionLink("Muuda tulemust", "TheoryResult", new { id = item.Id }) |
            </td>*@
        </tr>
    }

</table>

